<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>

<body>
  <div class="container">
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="#!">one</a></li>
      <li><a href="#!">two</a></li>
      <li class="divider"></li>
      <li><a href="#!">three</a></li>
    </ul>
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">GoFridge</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/" class=" waves-effect waves-teal">About</a></li>
          <li><a href="/" class=" waves-effect waves-orange">My Fridge</a></li>
          <!-- Dropdown Trigger -->
          <li><a class="dropdown-button btn waves-effect waves-teal" href="#!" data-activates="dropdown1">Login / Create Account<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
      </div>
    </nav>

  </div>

</body>

</html>