<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>

<body>
  <div class="container">
    <!-- Nav Bar -->
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">GoFridge</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Login</a></li>
        <li><a href="/userForm">Create Account</a></li>
      </ul>
    </div>
  </nav>

        <div class ="mainContent">
            <h3>Don't be a HUNGRY HOMER!!!!!!!!!!!</h3>  
            <img class="mainContentImage" src="/assets/images/homerEmptyFridge.jpg">
            <h3>What is GOFRIDGE?</h3> 
            <p class = "flow-text">Welcome to GOFRIDGE where we take you're shopping habits and wants and keep them in a safe convient place for you.</p>
            <p class = "flow-text">Here's how it works.... You create an account with us and once you've done that you then are introduced to our dynamic grocery
              list in which you can add and take away items as you please to create your grocery list. While making your list you will notice
              we have implemented our handy budget calculater to help you stay with your financial goal. Once you've created your list you can
              then set reminders to match your habits to let you know when you next have to buy your favorite products.
              </p>
        </div>
</div>


<div class = "container-wrapper">
      <div class = "video">
        <h3> video is gonna go here. these are filler breaks</h3>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>  
</div>



<div class = "future">
        <div class = "row">
          
               <h2> Fun features for your GOFRIDGE account!!!!!</h2>

              <div class = "col s6">
                  <h4> REMINDERS </h4>
                    <p class = "flow-text"> Set your daily, weekly, or even monthly reminders to let yourself know what you need to buy and when you need to buy so 
                      you don't have to deal with the forgotten groceries ever again..</p>
                    <br>
                    <br>
                  <h4> DAILY DEALS</h4>
                    <p class = "flow-text"> Get up to date deals that are currently running in your favorite stores sent directly to you weekly. No 
                      more of those missed deals on your favorite milk...</p>
              </div> 

              <div class = "col s6">
                <h4>SAVED PURCHASES</h4>
                  <p class = "flow-text"> Dont't you worry about forgetting what that amazing tea was called from last week because we have saved all your
                    past purchases and stored them for you to go back on and look at. Let us worry about remembering your favorite details </p>
                <h4> BUDGET </h4>
                  <p class = "flow-text"> Thank's to GOFRIDGE you no longer have to worry about allocating your budget. We've got you covered just let us know 
                    how much you plan to spend and watch us do the math for you as you add items into your cart. Shopping should be easy and now it is.
                    With our budget calculater you can watch in realtime so you no longer spend more then you have to. </p>
              </div>
        </div>
</div>



</body>

</html>