<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<div class="container">
		<!-- Nav Bar -->
		<nav>
			<div class="nav-wrapper">
				<a class="brand-logo" href="/">GoFridge</a>
				<ul class="right hide-on-med-and-down" id="nav-mobile">
					<li>
						<a class="waves-effect waves-light" href="#modal1">Login</a>
					</li>
					<li>
						<a href="/userForm">Create Account</a>
					</li>
				</ul>
			</div>
		</nav>

		 <div class="mainContent">
			<h3>Don't be a HUNGRY HOMER!!!!!!!!!!!</h3><img class="mainContentImage" src="/assets/images/homerEmptyFridge.jpg">
			<h3>What is GOFRIDGE?</h3>
			<p class="flow-text">Welcome to GOFRIDGE where we take you're shopping habits and wants and keep them in a safe convient place for you.</p>
			<p class="flow-text">Here's how it works.... You create an account with us and once you've done that you then are introduced to our dynamic grocery list in which you can add and take away items as you please to create your grocery list. While making your list you will notice we have implemented our handy budget calculater to help you stay with your financial goal. Once you've created your list you can then set reminders to match your habits to let you know when you next have to buy your favorite products.</p>
		</div>
	</div>
		<br>
		<br>
		<br>
		<div class="future">
			<div class="row">
				<div class="futureTitle">
				<h2>Fun features for your GOFRIDGE account!!!!!</h2>
				</div>
				<div class="col s6">
					<h4>REMINDERS</h4>
					<p class="flow-text">Set your daily, weekly, or even monthly reminders to let yourself know what you need to buy and when you need to buy so you don't have to deal with the forgotten groceries ever again..</p><br>
					<br>
					<h4>DAILY DEALS</h4>
					<p class="flow-text">Get up to date deals that are currently running in your favorite stores sent directly to you weekly. No more of those missed deals on your favorite milk...</p>
				</div>
				<div class="col s6">
					<h4>SAVED PURCHASES</h4>
					<p class="flow-text">Dont't you worry about forgetting what that amazing tea was called from last week because we have saved all your past purchases and stored them for you to go back on and look at. Let us worry about remembering your favorite details</p>
					<h4>BUDGET</h4>
					<p class="flow-text">Thank's to GOFRIDGE you no longer have to worry about allocating your budget. We've got you covered just let us know how much you plan to spend and watch us do the math for you as you add items into your cart. Shopping should be easy and now it is. With our budget calculater you can watch in realtime so you no longer spend more then you have to.</p>
				</div>
			</div>
		</div>


		<!-- Modal Structure -->
		<div class="modal" id="modal1">
			<div class="modal-content">
				<form action="member" class="col s12" id="submit-form" method="get" name="submit-form">
					<h4>Login</h4>
					<div class="row">
						<div class="input-field col s12">
							<input class="validate" id="email" name="email" placeholder="example@email.com" type="email"> <label for="email"><font color="teal">Email</font></label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input class="validate" id="password" name="password" placeholder="Enter Password" type="password"> <label for="password"><font color="teal">Password</font></label>
						</div>
					</div>
					<div class="modal-footer">
						<button class=" modal-action modal-close waves-effect waves-green btn-flat" name="action" type="submit">Submit <i class="material-icons right">send</i></button> 
					</div>
				</form>
			</div>
		</div>	
		        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">GoFridge!</h5>
                <p class="grey-text text-lighten-4">Better manage your shopping experience.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Devs</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Tony</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Omar</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Bryant</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Eugene</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Copyright
            <a class="grey-text text-lighten-4 right" href="https://github.com/Slicktone/GoFridge" target="_blank">github</a>
            </div>
          </div>
        </footer>
		
</body>
</html>