<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>

<body>
  <div class="container">
    <!-- Nav Bar -->
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">GoFridge</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Login</a></li>
        <li><a href="/userForm">Create Account</a></li>
      </ul>
    </div>
  </nav>

  <div class ="mainContent">
      <h3>Don't be a hungry HOMER</h3>  
      <img class="mainContentImage" src="/assets/images/homerEmptyFridge.jpg">
      <p>this is where go fride stuff goes</p>
  </div>

  </div>

</body>

</html>