<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>

<body>
  <div class="container">
    <!-- Nav Bar -->
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">GoFridge</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Login</a></li>
        <li><a href="/userForm">Create Account</a></li>
      </ul>
    </div>
  </nav>

  <div class ="mainContent">
      <h3>Don't be a HUNGRY HOMER!!!!!!!!!!!</h3>  
      <img class="mainContentImage" src="/assets/images/homerEmptyFridge.jpg">
      <p>Welcome to GOFRIDGE where we take you're shopping habits and wants and keep them in a safe convient place for you.</p>
      <p>Here's how it works.... You create an account with us and once you've done that you then are introduced to our dynamic grocery
        list in which you can add and take away items as you please to create your grocery list. While making your list you will notice
        we have implemented our handy budget calculater to help you stay with your financial goal. Once you've created your list you can
        then set reminders to match your habits to let you know when you next have to buy your favorite products.
        </p>
  </div>

  </div>

</body>

</html>