<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>

<body>
  <div class="container">
    <!-- Nav Bar -->
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">GoFridge</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="waves-effect waves-light" href="#modal1">Log In</a></li>
        <li><a href="/userForm">Create Account</a></li>
      </ul>
    </div>
  </nav>

  <div class ="mainContent">
      <h3>Don't be a hungry HOMER</h3>  
      <img class="mainContentImage" src="/assets/images/homerEmptyFridge.jpg">
      <p>this is where go fride stuff goes</p>
  </div>

    <!-- Modal Trigger -->
  

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>

  </div>

</body>

</html>