<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="container">
		<!-- Nav Bar -->
		<nav>
			<div class="nav-wrapper">
				<a class="brand-logo" href="/">GoFridge</a>
				<ul class="right hide-on-med-and-down" id="nav-mobile">
					<li>
						<a class="waves-effect waves-light" href="#modal1">Login</a>
					</li>
					<li>
						<a href="/">Home Page</a>
					</li>
				</ul>
			</div>
		</nav>
		<br>
		<br>
		<!-- Form -->
		<div class="row newAccount">
			<form action="userForm/add" class="col s12" id="submit-form" method="post" name="submit-form">
				<h5>Create an Account</h5>
				<div class="row">
					<div class="input-field col s6">
						<input class="validate" id="first_name" name="first_name" placeholder="John" type="text"> <label for="first_name"><font color="teal">First Name</font></label>
					</div>
					<div class="input-field col s6">
						<input class="validate" id="last_name" name="last_name" placeholder="Doe" type="text"> <label for="last_name"><font color="teal">Last Name</font></label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input class="validate" id="email" name="email" placeholder="example@email.com" type="email"> <label for="email"><font color="teal">Email</font></label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input class="validate" id="password" name="password" placeholder="Enter Password" type="password"> <label for="password"><font color="teal">Password</font></label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input class="validate" id="myFridge-budget" name="budget" placeholder="$" type="number"> <label for="myFridge-budget"><font color="teal">Budget</font></label>
					</div>
				</div><button class="btn waves-effect waves-light" name="action" type="submit">Submit <i class="material-icons right">send</i></button>
			</form>
		</div>
	</div>

	<!-- Modal Structure -->
		<div class="modal" id="modal1">
			<div class="modal-content">
				<form action="member" class="col s12" id="submit-form" method="get" name="submit-form">
					<h4><font color="teal">Login</font></h4>
					<div class="row">
						<div class="input-field col s12">
							<input class="validate" id="email" name="email" placeholder="example@email.com" type="email"> <label for="email"><font color="teal">Email</font></label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input class="validate" id="password" name="password" placeholder="Enter Password" type="password"> <label for="password"><font color="teal">Password</font></label>
						</div>
					</div>
					<div class="modal-footer">
						<button class=" modal-action modal-close waves-effect waves-green btn-flat" name="action" type="submit">Submit <i class="material-icons right">send</i></button> {{!--<a class=" modal-action modal-close waves-effect waves-green btn-flat" href="#!">Agree</a>--}}
					</div>
				</form>
			</div>
		</div>
 <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">GoFridge!</h5>
                <p class="grey-text text-lighten-4">Better manage your shopping experience.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Devs</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Tony</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Omar</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Bryant</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Eugene</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Copyright
            <a class="grey-text text-lighten-4 right" href="https://github.com/Slicktone/GoFridge" target="_blank">github</a>
            </div>
          </div>
        </footer></body>
</html>