<div class="container">
    <!-- Nav Bar -->
 <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">GoFridge</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Login</a></li>
        <li><a href="/userForm">Create Account</a></li>
      </ul>
    </div>
  </nav>
    <!-- Form -->
    <div class="row newAccount">
        
        <form class="col s12">
            <h5>Create an Account</h5>
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="John" id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Doe" id="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="If you forget your password bad things happen" id="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="example@email.com" id="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
        </form>
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>

</div>